.website-data {
    display: flex;
    font-size: 14px;
    color: #9e9e9e;
    margin: 0px 15px;
    align-items: center;
}

.inner-width {
    margin: 0px;
    display: inline-flex;
}

.website-data i {
    font-size: 16px;
    margin: 3px 4px 0 0;
}

.data-divider {
    margin: -2px 0 0 0;
    max-width: 5px;
    font-size: 16px;
    text-align: center;
}